@model cad_cliente.Models.Client
@{
    ViewData["Title"] = "Cadastro de Fornecedor";
}

<h1>Cadastro de Fornecedor</h1>

<hr />

<div class="container">
            <form asp-action="Create" class="row g-3">
                <div class="col-md-6">
                    <label class="form-label">Nome Fantasia</label>
                    <input asp-for="FantasyName" class="form-control" />

                </div>
                <div class="col-md-6">
                    <label class="form-label">Razão Social</label>
                    <input asp-for="SocialReason" class="form-control" />

                </div>
                <div class="col-md-6">
                    <label class="form-label">Email</label>
                    <input asp-for="Email" class="form-control" />

                </div>
                <div class="col-sm-3">
                    <label class="form-label">Telefone</label>
                    <input asp-for="Phone" class="form-control" />
                </div>
                <div class="col-md-3">
                    <label class="form-label">Nome do Contato</label>
                    <input asp-for="FullName" class="form-control" />
                </div>
                <div class="col">
                    <label class="form-label">Rua</label>
                    <input asp-for="Street" class="form-control" />

                </div>
                <div class="col-md-3">
                    <label class="form-label">Número da rua</label>
                    <input asp-for="NumberStreet" class="form-control" />

                </div>
                <div class="col">
                    <label class="form-label">CEP</label>
                    <input asp-for="Cep" class="form-control" />

                </div>
                <div class="col">
                    <label class="form-label">País</label>
                    <input asp-for="CountryName" class="form-control" />

                </div>
                <div class="col">
                    <label class="form-label">Cidade</label>
                    <input asp-for="CityName" class="form-control" />

                </div>
                <div class="col-md-7">
                    <label class="form-label">Estado</label>
                    <input asp-for="StateName" class="form-control" />

                </div>
                <div class="col-md-6">
                    <label class="form-label">Bairro</label>
                    <input asp-for="SquareName" class="form-control" />

                </div>

                <div class="form-group" style="padding-top:10px">
                    <input type="submit" value="Inserir" class="btn btn-primary btn-sm" />
                    <a class="btn btn-secondary text-white btn-sm" asp-action="Index">Voltar</a>
                </div>
            </form>
</div>
